--
-- PostgreSQL database dump
--

\restrict gQ7lUG3KvKx8qzD7XaH22w7pmvccXeQWjjRrFbVZWrRkgLd7iH6rn5m5OsBsFAo

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: gym_db_l1m0_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO gym_db_l1m0_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.attendance (
    id integer NOT NULL,
    member_id integer NOT NULL,
    subscription_id integer,
    check_in_time timestamp without time zone DEFAULT now() NOT NULL,
    check_out_time timestamp without time zone,
    date date DEFAULT CURRENT_DATE NOT NULL,
    duration_minutes integer,
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.attendance OWNER TO gym_db_l1m0_user;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.members (
    id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name_paternal character varying(50) NOT NULL,
    last_name_maternal character varying(50),
    phone character varying(20),
    email character varying(100),
    date_of_birth date,
    emergency_contact character varying(100),
    emergency_phone character varying(20),
    registration_date date NOT NULL,
    photo_url character varying(255),
    is_active boolean NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.members OWNER TO gym_db_l1m0_user;

--
-- Name: members_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.members_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.members_id_seq OWNED BY public.members.id;


--
-- Name: payment_records; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.payment_records (
    id integer NOT NULL,
    subscription_id integer NOT NULL,
    member_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date NOT NULL,
    payment_method character varying(20) NOT NULL,
    reference_number character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payment_records OWNER TO gym_db_l1m0_user;

--
-- Name: payment_records_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.payment_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_records_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: payment_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.payment_records_id_seq OWNED BY public.payment_records.id;


--
-- Name: plans; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.plans (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    duration_days integer NOT NULL,
    description text,
    is_active boolean,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.plans OWNER TO gym_db_l1m0_user;

--
-- Name: plans_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plans_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.plans_id_seq OWNED BY public.plans.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    member_id integer NOT NULL,
    plan_id integer NOT NULL,
    plan_price numeric(10,2) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(20) NOT NULL,
    payment_status character varying(20) NOT NULL,
    amount_paid numeric(10,2),
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.subscriptions OWNER TO gym_db_l1m0_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO gym_db_l1m0_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: gym_db_l1m0_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO gym_db_l1m0_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gym_db_l1m0_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: attendance id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.attendance ALTER COLUMN id SET DEFAULT nextval('public.attendance_id_seq'::regclass);


--
-- Name: members id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.members ALTER COLUMN id SET DEFAULT nextval('public.members_id_seq'::regclass);


--
-- Name: payment_records id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.payment_records ALTER COLUMN id SET DEFAULT nextval('public.payment_records_id_seq'::regclass);


--
-- Name: plans id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.plans ALTER COLUMN id SET DEFAULT nextval('public.plans_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--

COPY public.attendance (id, member_id, subscription_id, check_in_time, check_out_time, date, duration_minutes, notes, created_at) FROM stdin;
1	1	1	2026-01-17 01:40:10.713683	\N	2026-01-17	\N	\N	2026-01-17 01:40:10.713683
2	3	3	2026-01-17 01:41:00.84128	\N	2026-01-17	\N	\N	2026-01-17 01:41:00.84128
3	17	17	2026-01-17 01:46:33.10093	\N	2026-01-17	\N	\N	2026-01-17 01:46:33.10093
4	18	18	2026-01-17 01:48:53.597313	\N	2026-01-17	\N	\N	2026-01-17 01:48:53.597313
5	43	33	2026-01-17 16:02:13.87036	\N	2026-01-17	\N	\N	2026-01-17 16:02:13.87036
\.


--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--



--
-- Data for Name: payment_records; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--

COPY public.plans (id, name, price, duration_days, description, is_active, created_at) FROM stdin;
2	Visita	40.00	1	\N	t	2026-01-17 00:41:22.623316
3	Mensual	350.00	30	\N	t	2026-01-17 00:42:54.055428
4	Bimestral	600.00	60	\N	t	2026-01-17 00:44:03.647078
5	Semestral	1699.00	180	\N	t	2026-01-17 00:44:48.321392
6	Anual	2999.00	365	\N	t	2026-01-17 01:11:06.96675
7	Trimestral	899.00	90	\N	t	2026-01-17 01:41:44.311443
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: gym_db_l1m0_user
--

COPY public.users (id, username, email, hashed_password, full_name, role, is_active, created_at, updated_at) FROM stdin;
1	admin	admin@fuerzafit.com	$2b$12$G7I1wdxvjk6YYODj2wQs.eSOX.FCS9d0f.mK8StcJ3MUiSEMeFUSu	Administrador	admin	t	2026-01-15 01:34:15.648964	2026-01-15 01:34:15.648964
2	recepcion	recepcion@fuerzafit.com	$2b$12$qz8cXjFDgnY3x.ps6Ar/Pexytwbv7tHa6EKfyLRYHNiz4ab8XqOsC	Recepcionista	employee	t	2026-01-15 01:34:15.648964	2026-01-15 01:34:15.648964
\.


--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.attendance_id_seq', 5, true);


--
-- Name: members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.members_id_seq', 43, true);


--
-- Name: payment_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.payment_records_id_seq', 33, true);


--
-- Name: plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.plans_id_seq', 7, true);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 33, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gym_db_l1m0_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: members members_email_key; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_email_key UNIQUE (email);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: payment_records payment_records_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.payment_records
    ADD CONSTRAINT payment_records_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_attendance_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_attendance_id ON public.attendance USING btree (id);


--
-- Name: ix_members_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_members_id ON public.members USING btree (id);


--
-- Name: ix_payment_records_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_payment_records_id ON public.payment_records USING btree (id);


--
-- Name: ix_plans_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_plans_id ON public.plans USING btree (id);


--
-- Name: ix_subscriptions_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_subscriptions_id ON public.subscriptions USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: gym_db_l1m0_user
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: attendance attendance_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: attendance attendance_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE SET NULL;


--
-- Name: payment_records payment_records_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.payment_records
    ADD CONSTRAINT payment_records_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: payment_records payment_records_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.payment_records
    ADD CONSTRAINT payment_records_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gym_db_l1m0_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO gym_db_l1m0_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO gym_db_l1m0_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO gym_db_l1m0_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO gym_db_l1m0_user;


--
-- PostgreSQL database dump complete
--

\unrestrict gQ7lUG3KvKx8qzD7XaH22w7pmvccXeQWjjRrFbVZWrRkgLd7iH6rn5m5OsBsFAo

